<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Ici, possibilité de rajouter des balises link et meta qui seront chargées sur toutes les pages -->
    <link rel="icon" type="image/svg+xml" href="/src/assets/favicon.svg" />
    <!-- Le titre de l'application par défaut, qui sera visible pendant le chargement d'une page ou si une page n'a pas de titre renseigné -->
    <title>My App</title>
  </head>
  <body>
    <div id="root"></div>
    <!-- Lien vers le script d'entrée de l'application -->
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
